<div class="myProducts">
    {{#each products}}
        <div class="myProducts1">
            {{#if this.bestSeller}}
                <div class="attributes">Star</div>
            {{else}}
                <div class="attributes">Normal</div>
            {{/if}}
            <div class="img-container"> 
                <img src="{{this.productImg}}" width="170" height="180">
            </div>
            <p class="products-des">{{this.title}}</p>
            <p class="products-des">{{this.price}}</p>
            <p class="products-cate">{{this.categoryName}}</p>             
        </div>
    {{/each}}
</div>