<div class="myProducts">
    {{#each products}}
        <div class="myProducts1">
            {{#if this.bestSeller}}
                <div class="attributes">Star</div>
            {{else}}
                <div class="attributes">Normal</div>
            {{/if}}
            <div class="img-container"> 
                <img src="{{this.productImg}}" width="170" height="180">
            </div>
            <div class="products-des"><p>{{this.title}}</p></div>
            <div class="products-des"><p>{{this.price}}</p></div>
            <div class="products-cate"><p>{{this.categoryName}}</p></div>             
        </div>
    {{/each}}
</div>