<div id="promotion">
    <img src='/img/promotion.jpg' alt='' width="100%" height="80%">
</div>


<div class="categories">
    {{#each categorySection}}
    <div class="categories1">
        <p>
            {{this.title}}
        </p>
        <a href="/products/{{this.title}}"><img class="pro-img" src="/uploads/{{this.productPic}}" alt='' width="220" height="240"></a><br>
        <a href="/products/{{this.title}}">Explore now</a>
    </div>
    {{/each}}
</div>


<div class="bestSellers">
    <br>
    <p class="bestTitle">
        Best sellers
    </p>
    <div class="bestSeller1">
    {{#each sellerSection}}
        
            <img src="/uploads/{{this.productPic}}" alt='' width="220" height="240">
        
    {{/each}}
    </div>
</div>