<div class="myProducts">
    {{#each data}}
        <div class="myProducts1">
            <div class="attributes">{{this.bestSeller}}</div>
            <div class="img-container"> 
                <img src="/uploads/{{this.productPic}}" width="170" height="180">
            </div>
            <div class="products-des"><p>{{this.title}}</p><br></div>
            <div class="products-des"><p>{{this.price}}</p><br></div>
            <div class="products-cate"><p>{{this.category}}</p></div>             
        </div>
    {{/each}}
</div>