 <h2>Update Product</h2>
    <form method="POST" action="/product/update/{{_id}}?method=PUT">

        <label>Category</label>
        <select name="category" >
            <option value="Mask">Mask</option>
            <option value="Hat and socks">Hat and socks</option>
            <option value="Clothes">Clothes</option>
            <option value="Glasses">Glasses</option>
            <option value="Baby nursery">Baby nursery</option>
        </select>
        <br><br>

        <label>Title</label>
        <input type="text" name="title" id="add-title" value="{{title}}"> <br><br>

        <label>Description</label>
        <textarea id="add-description" name="description">{{description}}</textarea><br><br>

        <label>Price</label>
        <input type="text" name="price" id="add-price" value="{{price}}"> <br><br>

        <label>Inventory</label>
        <input type="text" name="inventory" id="add-inventory" value={{inventory}}> <br><br>

        <label>BestSeller</label>
        <select name="bestSeller">
            <option value="Star">Star</option>
            <option value="Normal">Normal</option>
        </select>
        <br><br>

        <input type="submit" value="Update Product">
    </form>