<div class="cartDashboard">
    <div class="thankstitle">
        <h3>{{title}}</h3><br><br>
    </div>
    <div class="thanksnote">
        {{#each data}}
            <p>Today, you buy {{quantity}} of {{title}}.</p><br>
        {{/each}}
        <h4>Total quantity is {{totalItem}}.</h4><br>
        <h4>Total cost is ${{totalPrice}}.</h4><br>
    </div>
</div>